name: Python Manual Workflow

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src" >> $GITHUB_ENV
      - name: Run tests and generate reports
        run: |
          pytest test/ --junitxml=results.xml --cov=src --cov-report=xml --html=report.html
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: results.xml
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
      - name: Upload HTML test report
        uses: actions/upload-artifact@v4
        with:
          name: html-test-report
          path: report.html
